body{
	background: #D7BD8D;
}

h1, h2, h3{
	text-align: center;
}

footer{
	background: #5E420D;
	color: #FFF;
	display: block;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
}

/** Size of the font on the search tables's body **/

table>tbody{
	font-size: 0.85em;
}

#globalHeader{
	background: #5E420D;
}

#divErrorLogin{
	padding-top: 3%;
	text-align: center;
}

#loginForm{
	text-align: left;
	margin: auto;
	width: 15%;
}

#password{
	width : 90%;
	margin: auto;
}

#username{
	width : 90%;
	margin: auto;
}

.subtitle{
	text-align: center;
}

.modal-body{
	background: #D7BD8D;
}

.modal-header{
	background: #5E420D;
	color: #FFF;
}

.modal-footer{
	background: #5E420D;
	color: #FFF;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 20%;
}

#elementalInfos b {
    margin-left: 5%;
}

.divNewspaper {
    background: #FFE6C2;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 0px;
    margin-right: 0px;
}

.divNewspaper:hover {
    background: #5E420D;
    color: #FFF;
}

.dateDivNewspaper {
    text-align: right;
    margin-left: 65%;
}

.contentNews {
    background: #5E420D;
    border-radius: 10px;
}
